.nev {
    font-weight: bold;
    font-size: 12pt;
}

.feljegyzes-row {
    display: flex;

    ion-button {
        flex: 1;
        height: 3rem;

        --border-width: 0 0 2px 0;
        --border-radius: 0;
        --color: var(--ion-color-medium);

        &.button-outline {
            --color: var(--ion-color-primary);
        }
    }
}
