<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Tanmenet</ion-title>
  </ion-toolbar>

  <app-offline-warning-bar warningMessage="Nincs internet, az adatok nem frissülnek"></app-offline-warning-bar>

  <ion-toolbar color="secondary" class="ion-text-center">
    {{lesson.TantargyNev}}
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="tanmenet && tanmenet.Items.length > 0" lines="full">
    <ion-item *ngFor="let t of tanmenet.Items" (click)="save(t)">
      <ion-text>{{ t.Nev }}</ion-text>
    </ion-item>
  </ion-list>

  <div *ngIf="tanmenet && tanmenet.Items.length == 0" class="ion-padding-horizontal ion-text-center list-empty-placeholder">
    <ion-icon slot="icon-only" name="information-circle-outline" style="font-size: 128px;"></ion-icon>
    <p><strong>A lista üres</strong></p>
    <p>Úgy tűnik, ehhez a foglalkozáshoz még nem töltöttél fel tanmenetet. Ezt a KRÉTA webes felületén belépve tudod megtenni.</p>
  </div>


  <ion-list *ngIf="!tanmenet">
    <ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar>

    <ion-item>
      <ion-label><ion-skeleton-text width="80%" animated></ion-skeleton-text></ion-label>
      <ion-label><ion-skeleton-text width="40%" animated></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-skeleton-text width="80%" animated></ion-skeleton-text></ion-label>
      <ion-label><ion-skeleton-text width="40%" animated></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-skeleton-text width="80%" animated></ion-skeleton-text></ion-label>
      <ion-label><ion-skeleton-text width="40%" animated></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-skeleton-text width="80%" animated></ion-skeleton-text></ion-label>
      <ion-label><ion-skeleton-text width="40%" animated></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-skeleton-text width="80%" animated></ion-skeleton-text></ion-label>
      <ion-label><ion-skeleton-text width="40%" animated></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-skeleton-text width="80%" animated></ion-skeleton-text></ion-label>
      <ion-label><ion-skeleton-text width="40%" animated></ion-skeleton-text></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
