app-tanulo-jelenlet,
app-tanulo-feljegyzes {
    width: 100%;
    margin: 6px 0;
}

#oratemaja {
    margin-bottom: 10px;

    ion-button {
        --padding-end: 0;
        --color: rgba(0, 0, 0, 0.6);
    }
}

ion-slide {
    display: block;
}
