<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title translate="notlogged.title"></ion-title>
    </ion-toolbar>

    <app-offline-warning-bar></app-offline-warning-bar>

    <ion-progress-bar
        type="indeterminate"
        color="warning"
        *ngIf="loadingInProgress"
    ></ion-progress-bar>
</ion-header>

<ion-content>
    <ion-refresher
        slot="fixed"
        (ionRefresh)="loadNotLoggedLessons(true, $event)"
        pullFactor="0.8"
        pullMin="60"
        pullMax="120"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ng-container *ngIf="pageState == 'LOADED'">
        <ion-list>
            <ng-container *ngFor="let l of lessons">
                <app-timetable-lesson
                    [lesson]="l"
                    showDate="true"
                    (click)="onLessonClick(l)"
                ></app-timetable-lesson>
            </ng-container>
        </ion-list>

        <ion-item lines="none" class="note">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-note
                translate="notlogged.info-days-limit"
                [translateParams]="{value: daysToCheck}"
            ></ion-note>
        </ion-item>
    </ng-container>

    <div *ngIf="pageState == 'LOADING'">
        <ion-list>
            <ion-item>
                <ion-label>
                    <h2><ion-skeleton-text width="60%" animated></ion-skeleton-text></h2>
                    <p><ion-skeleton-text width="30%" animated></ion-skeleton-text></p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <h2><ion-skeleton-text width="20%" animated></ion-skeleton-text></h2>
                    <p><ion-skeleton-text width="30%" animated></ion-skeleton-text></p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <h2><ion-skeleton-text width="40%" animated></ion-skeleton-text></h2>
                    <p><ion-skeleton-text width="50%" animated></ion-skeleton-text></p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <h2><ion-skeleton-text width="35%" animated></ion-skeleton-text></h2>
                    <p><ion-skeleton-text width="30%" animated></ion-skeleton-text></p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <app-page-state-display
        *ngIf="pageState == 'ERROR'"
        [exception]="exception"
        buttonTextKey="common.retry"
        (onButtonClicked)="loadNotLoggedLessons(true)"
    ></app-page-state-display>

    <app-page-state-display
        *ngIf="pageState == 'EMPTY'"
        iconName="sunny-outline"
        [header]="'notlogged.list-empty'|translate"
        [message]="'notlogged.info-days-limit-empty'|translate:{value: daysToCheck}"
    ></app-page-state-display>
</ion-content>
