<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'messages'" icon="close-outline"></ion-back-button>
        </ion-buttons>
        <ion-title translate="messages.compose.title"></ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="sendMsg()" [disabled]="loadingInProgress">
                <ion-icon slot="icon-only" name="send-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-progress-bar
        type="indeterminate"
        *ngIf="loadingInProgress"
        color="warning"
    ></ion-progress-bar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="loadingInProgress">
            <ion-icon name="attach"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="addAttachment('camera')">
                <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addAttachment('gallery')">
                <ion-icon name="image"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addAttachment('file')">
                <ion-icon name="folder"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-list>
        <div class="ion-padding-horizontal">
            <ion-label translate="messages.compose.label-to" class="recipient-label"></ion-label>
            <ion-chip outline="true" *ngFor="let a of addresseeList">
                <ion-label>{{ getName(a) }}</ion-label>
                <ion-icon
                    name="close-circle"
                    (click)="removeAddressee(a)"
                    *ngIf="!prevMsgId"
                ></ion-icon>
            </ion-chip>
            <ion-chip
                color="primary"
                outline="true"
                (click)="selectAddressees()"
                *ngIf="!prevMsgId"
            >
                <ion-icon name="add-circle"></ion-icon>
                <ion-label>Hozzáadás</ion-label>
            </ion-chip>
        </div>
        <ion-item-divider></ion-item-divider>
        <ion-item>
            <ion-label position="floating" translate="messages.compose.label-subject"></ion-label>
            <ion-input required [(ngModel)]="subject" type="text"> </ion-input>
        </ion-item>
        <ion-textarea
            required
            [placeholder]="'messages.compose.message-placeholder' | translate"
            class="message-text ion-margin ion-no-padding"
            autoGrow="true"
            [(ngModel)]="text"
        >
        </ion-textarea>
        <div
            *ngIf="prevMsgText"
            class="prev-message ion-margin-horizontal"
            [innerHTML]="prevMsgText"
        ></div>
    </ion-list>

    <div class="attachment-container ion-margin">
        <ion-chip *ngFor="let f of attachmentList">
            <ion-icon name="document-attach-outline"></ion-icon>
            <ion-label>
                {{f.fajlNev}}
            </ion-label>
            <ion-icon name="close-circle" (click)="deleteAttachment(f)"></ion-icon>
        </ion-chip>

        <ion-chip
            *ngIf="currentlyUploading"
            outline
            [color]="currentlyUploading.isFailedUpload ? 'danger' : 'primary'"
        >
            <ion-icon
                [name]="currentlyUploading.isFailedUpload ? 'alert-circle' : 'document-attach-outline'"
            ></ion-icon>

            <ion-label>
                {{currentlyUploading.fajlNev}}
                <ng-container *ngIf="!currentlyUploading.isFailedUpload">
                    , {{currentlyUploading.uploadProgressPercent * 100 | number:'1.0-0'}}%
                </ng-container>
            </ion-label>
            <ion-progress-bar
                type="determinate"
                [value]="currentlyUploading.uploadProgressPercent"
                color="primary"
                *ngIf="!currentlyUploading.isFailedUpload"
            ></ion-progress-bar>
            <ion-icon
                name="close-circle"
                (click)="resetCurrentlyUploading()"
                *ngIf="currentlyUploading.isFailedUpload"
            ></ion-icon>
        </ion-chip>
    </div>
</ion-content>
