<div size="12" class="nev">
    {{ tanulo.Nev }}
    <span class="javasolt-jelenlet-ok" *ngIf="javasoltJelenletOk">
        <ion-icon slot="start" name="warning"></ion-icon>
        {{ javasoltJelenletOk }}
    </span>
</div>
<div class="jelenlet-row" *ngIf="!magantanulo">
    <ion-button
        (click)="changed('Jelenlét')"
        expand="block"
        [fill]="jelenletAllapot == 'Jelenlét' ? 'solid' : 'outline'"
    >
        {{ "presence-states.present" | translate }}
    </ion-button>
    <ion-button
        (click)="changed('Késés')"
        expand="block"
        [fill]="jelenletAllapot == 'Késés' ? 'solid' : 'outline'"
    >
        {{ "presence-states.late" | translate }}
        {{ keses > 0 ? ("logging.lateness-min" | translate: { value: keses }) : "" }}
    </ion-button>
    <ion-button
        (click)="changed('Hiányzás')"
        expand="block"
        [fill]="jelenletAllapot == 'Hiányzás' ? 'solid' : 'outline'"
    >
        {{ "presence-states.absent" | translate }}
    </ion-button>
</div>
