.nev {
        font-weight: bold;
        font-size: 12pt;
}

.jelenlet-row{
    display: flex;
    
    ion-button {
        flex: 1;
        height: 3rem;
    }
}

.javasolt-jelenlet-ok{
    font-weight: normal;
    font-size: 80%;
    padding-left: 10px;
    color:red;
}