<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title translate="login.login"></ion-title>
    </ion-toolbar>

    <app-offline-warning-bar></app-offline-warning-bar>
</ion-header>

<ion-content>
    <ion-text class="ion-text-center">
        <h1>Add meg a jelszavad!</h1>
    </ion-text>
    <form (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="floating">Intézmény</ion-label>
            <ion-input disabled type="text" [value]="kreta.institute.Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Felhasználónév</ion-label>
            <ion-input
                disabled
                type="text"
                [value]="kreta.currentUser['kreta:user_name']"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Jelszó</ion-label>
            <ion-input required type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-button block color="primary" type="submit">
            Bejelentkezés
        </ion-button>
    </form>
</ion-content>
