<ion-content>
    <div class="login-fejlec">
        <img src="../../assets/icon/logo.svg" alt="Logo" id="logo" />
        <div id="title">Napló+</div>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="doLogin()" (keydown.enter)="doLogin()">
        <div class="ion-padding">
            <p>
                Válassza ki intézményét, majd adja meg a KRÉTA-rendszerben használt felhasználónevét
                és jelszavát!
            </p>
            <ion-item>
                <ion-input
                    placeholder="Intézmény"
                    (click)="showInstituteModal()"
                    [(ngModel)]="instituteName"
                    name="selectedInstitute"
                    aria-label="Válasszon intézményt!"
                    required
                    readonly
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                    name="name"
                    type="text"
                    placeholder="Felhasználónév"
                    required
                    [(ngModel)]="username"
                    autocapitalize="off"
                    autocorrect="off"
                    autocomplete="new-password"
                    aria-label="Felhasználónév"
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                    name="password"
                    type="password"
                    placeholder="Jelszó"
                    required
                    [(ngModel)]="password"
                    aria-label="Jelszó"
                ></ion-input>
            </ion-item>
        </div>
        <div class="ion-padding" style="padding-top: 0">
            <ion-button
                type="submit"
                [disabled]="!loginForm.form.valid && !loading"
                expand="block"
                class="submitBtn"
            >
                Bejelentkezés
            </ion-button>
            <p class="data-prot">
                <a (click)="openPrivacy()">Adatvédelmi nyilatkozat és felhasználási feltételek</a>
            </p>
        </div>
    </form>
</ion-content>
