ion-content {
    --background: #fdec5d;
    --color: #444;
    --ion-color-primary: #1da389;

    .data-prot {
        text-align: center;
        font-size: 90%;
        margin-block-start: 1.4rem;
    }

    form {
        max-width: 600px;
        margin: auto;
        text-align: center;

        .submitBtn {
            min-height: 3rem;
        }
    }
}

.login-fejlec {
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.65rem;

    // alapból nagy logo
    #logo {
        width: 40%;
        margin: 50px auto 10px auto;
        display: block;
    }
}

// tableteken landscape módban
@media (min-width: 768px) and (orientation: landscape) {
    .login-fejlec {
        #logo {
            width: 15%;
            margin: 50px auto 10px auto;
            display: block;
        }
    }
}

// kicsi telefonokon landscapeben egysoros logó
@media screen and (min-width: 320px) and (max-width: 910px) and (orientation: landscape) {
    .login-fejlec {
        margin-bottom: 5px;
        margin-top: 25px;

        #logo {
            width: 2.7rem;
            display: inline-block;
            margin-top: 0;
            margin-right: 3px;
            margin-bottom: -11px;
        }

        #title {
            display: inline;
        }
    }
}
