<ion-content>
    <div class="login-fejlec">
        <img src="../../assets/icon/logo.svg" alt="Logo" id="logo" />
        <div id="title">{{'app.name'|translate}}</div>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="doLogin()" (keydown.enter)="doLogin()">
        <div class="ion-padding">
            <p>
                {{'login.instruction'|translate}}
            </p>
            <ion-item>
                <ion-input
                    placeholder="{{'login.institution' | translate}}"
                    (click)="showInstituteModal()"
                    [(ngModel)]="instituteName"
                    name="selectedInstitute"
                    required
                    readonly
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                    name="name"
                    type="text"
                    placeholder="{{'login.username' | translate}}"
                    required
                    [(ngModel)]="username"
                    autocapitalize="off"
                    autocorrect="off"
                    autocomplete="new-password"
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                    name="password"
                    type="password"
                    placeholder="{{'login.password' | translate}}"
                    required
                    [(ngModel)]="password"
                ></ion-input>
            </ion-item>
        </div>
        <div class="ion-padding" style="padding-top: 0">
            <ion-button
                type="submit"
                [disabled]="!loginForm.form.valid && !loading"
                expand="block"
                class="submitBtn"
            >
                {{'login.login' | translate}}
            </ion-button>
            <p class="data-prot">
                <a (click)="openPrivacy()">{{'login.pp-and-tos'|translate}}</a>
            </p>
        </div>
    </form>
</ion-content>
