.nev {
    font-weight: bold;
    font-size: 12pt;
}

.ertekeles-row {
    display: flex;

    ion-button {
        flex: 1;
        height: 3rem;
    }

    &.osztalyzat {
        ion-button {
            --border-width: 0 0 2px 0;
            --border-radius: 0;
            --color: var(--ion-color-medium);

            &.button-outline {
                --color: var(--ion-color-primary);
            }
        }
    }

    &.szazalek {
        justify-content: center;

        ion-input {
            text-align: center;
        }
        ion-button {
            width: 45px;
        }
        ion-button.trash {
            width: 55px;
            --padding-start: 0px;
            --padding-end: 0;
        }
    }
}
