<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title translate="timetable.title"></ion-title>
    </ion-toolbar>

    <app-offline-warning-bar></app-offline-warning-bar>

    <ion-toolbar
        color="secondary"
        class="ion-padding-start ion-padding-end ion-text-center timetable-date-toolbar"
    >
        <ion-icon
            slot="start"
            name="arrow-back-circle-outline"
            (click)="changeDate('back')"
        ></ion-icon>
        <ion-button fill="outline" class="date-titleline" (click)="showDatePicker()">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-label>
                {{ date.toLocaleDateString(config.locale, {month: 'short', day: 'numeric', weekday:
                'long'}) }}
            </ion-label>
        </ion-button>
        <ion-icon
            slot="end"
            name="arrow-forward-circle-outline"
            (click)="changeDate('forward')"
        ></ion-icon>
    </ion-toolbar>

    <ion-progress-bar
        type="indeterminate"
        color="warning"
        *ngIf="loadingInProgress"
    ></ion-progress-bar>
</ion-header>

<ion-content (swipe)="swipe($event)">
    <ion-refresher
        slot="fixed"
        (ionRefresh)="loadTimetable(true, false, $event)"
        pullFactor="0.8"
        pullMin="60"
        pullMax="120"
        [disabled]="loadingInProgress"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list id="ion-list-orarend" *ngIf="pageState == 'LOADED'">
        <app-timetable-lesson
            *ngFor="let l of timetable"
            [lesson]="l"
            (click)="lessonClick(l)"
        ></app-timetable-lesson>
    </ion-list>

    <ng-container *ngIf="pageState == 'LOADING'">
        <ion-list>
            <ion-item>
                <ion-avatar slot="start" class="oraszamContainer">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h2><ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text></h2>
                    <p><ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text></p>
                    <p><ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text></p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start" class="oraszamContainer">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h2><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></h2>
                    <p><ion-skeleton-text animated style="width: 35%;"></ion-skeleton-text></p>
                    <p><ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text></p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start" class="oraszamContainer">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h2><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></h2>
                    <p><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
                    <p><ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text></p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start" class="oraszamContainer">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h2><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></h2>
                    <p><ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text></p>
                    <p><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-container>

    <app-page-state-display
        *ngIf="pageState == 'ERROR'"
        [exception]="exception"
        buttonTextKey="common.retry"
        (onButtonClicked)="ionViewWillLeave(); ionViewWillEnter()"
    ></app-page-state-display>

    <app-page-state-display
        *ngIf="pageState == 'EMPTY'"
        iconName="sunny-outline"
        [header]="'timetable.list-empty'|translate"
        [message]="'timetable.no-lesson-today'|translate"
    ></app-page-state-display>
</ion-content>
