.list-empty-placeholder {
    margin-top: 50px;
    color: grey;
}

.date-titleline {
    .md & {
        font-size: 110%;
    }

    ion-icon {
        padding-right: 8px;
    }
}

ion-icon {
    vertical-align: text-top;
}
