app-student-attendance,
app-student-memo {
    width: 100%;
    margin: 6px 0;
}

#lesson-topic {
    margin-bottom: 10px;

    ion-button {
        --padding-end: 0;
        --color: rgba(0, 0, 0, 0.6);
    }
}

ion-slide {
    display: block;
}

ion-item.mass-operations {
    span {
        margin-left: 10px;
    }
}
