<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button
                [text]="config.getBackButtonText()"
                defaultHref="/timetable"
            ></ion-back-button>
        </ion-buttons>
        <ion-title translate="logging.title"></ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="save()" [disabled]="currentlyOffline">
                <ion-label translate="common.save"></ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <app-offline-warning-bar
        [warningMessage]="'offline.cant-save'|translate"
    ></app-offline-warning-bar>

    <ion-progress-bar
        type="indeterminate"
        color="warning"
        *ngIf="loading?.length > 0"
    ></ion-progress-bar>

    <ion-toolbar color="secondary" class="ion-text-center">
        <div>
            {{ kezdete?.toLocaleDateString(config.locale, {month: 'short', day: 'numeric', weekday:
            'short'}) }} &ndash; {{lesson?.TantargyNev}}<br />
            {{lesson?.OsztalyCsoportNev}} &ndash;
            <span
                translate="logging.lesson-seqnum"
                [translateParams]="{value: evesOraSorszam}"
            ></span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides (ionSlideWillChange)="onSlideChange()">
        <ion-slide>
            <ion-item id="oratemaja">
                <ion-label position="stacked" translate="logging.lesson-topic"></ion-label>
                <ion-textarea
                    [(ngModel)]="tema"
                    required
                    wrap="soft"
                    (ionInput)="makeItDirty()"
                ></ion-textarea>
                <ion-button
                    (click)="openTopicOptionsPopover($event)"
                    size="large"
                    fill="none"
                    slot="end"
                >
                    <ion-icon
                        slot="icon-only"
                        name="ellipsis-vertical-outline"
                        color="primary"
                    ></ion-icon>
                </ion-button>
            </ion-item>

            <ion-list
                *ngIf="osztalyTanuloi && loading.length == 0"
                class="ion-no-padding ion-no-margin"
                lines="full"
            >
                <ion-item *ngFor="let t of osztalyTanuloi?.TanuloLista">
                    <app-tanulo-jelenlet
                        [tanulo]="t"
                        [mulasztasok]="mulasztasok"
                        [javasoltJelenlet]="javasoltJelenlet"
                        (onSelectionChange)="makeItDirty()"
                    ></app-tanulo-jelenlet>
                </ion-item>
            </ion-list>

            <div *ngIf="loading?.length > 0">
                <ion-list
                    *ngFor="let i of [].constructor(5)"
                    class="ion-no-padding ion-no-margin"
                    lines="full"
                >
                    <ion-item>
                        <ion-label>
                            <ion-skeleton-text style="width: 50%; height: 14px"></ion-skeleton-text>
                            <ion-skeleton-text
                                style="width: 100%; height: 27px"
                            ></ion-skeleton-text>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </ion-slide>

        <ion-slide>
            <ion-list *ngIf="osztalyTanuloi" class="ion-no-padding ion-no-margin" lines="full">
                <ion-item *ngFor="let t of osztalyTanuloi?.TanuloLista">
                    <app-tanulo-feljegyzes
                        [tanulo]="t"
                        [allapot]="feljegyzesek"
                        (onSelectionChange)="makeItDirty()"
                    ></app-tanulo-feljegyzes>
                </ion-item>
            </ion-list>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label position="stacked" translate="logging.homework-deadline"></ion-label>
                <ion-datetime
                    displayFormat="YYYY. MM. DD."
                    [min]="this.dateHelper.getTodayString()"
                    [max]="this.dateHelper.getMonthFromToday(3)"
                    [(ngModel)]="hfHatarido"
                    cancelText="{{ 'common.cancel' | translate }}"
                    doneText="{{ 'common.done' | translate }}"
                    (ionFocus)="makeItDirty()"
                >
                </ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" translate="logging.homework-desc"></ion-label>
                <ion-textarea
                    [(ngModel)]="hfSzoveg"
                    id="hfSzoveg"
                    rows="10"
                    (ionInput)="makeItDirty()"
                ></ion-textarea>
            </ion-item>
        </ion-slide>

        <ion-slide>
            <app-ertekeles
                [lesson]="lesson"
                [osztalyTanuloi]="osztalyTanuloi"
                (onSelectionChange)="makeItDirty()"
            ></app-ertekeles>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-tab-bar slot="bottom">
    <ion-tab-button (click)="slideToTab(0)" [selected]="activeTabIndex == 0">
        <ion-icon name="man-outline"></ion-icon>
        <ion-label translate="logging.tab-presence"></ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="slideToTab(1)" [selected]="activeTabIndex == 1">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label translate="logging.tab-memo"></ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="slideToTab(2)" [selected]="activeTabIndex == 2">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label translate="logging.tab-homework"></ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="slideToTab(3)" [selected]="activeTabIndex == 3">
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-label translate="logging.tab-eval"></ion-label>
    </ion-tab-button>
</ion-tab-bar>
