<ion-item>
    <ion-label position="stacked" translate="eval.field-date"></ion-label>
    <ion-datetime
        displayFormat="YYYY. MM. DD."
        [min]="this.dateHelper.getMonthFromToday(-3)"
        [max]="this.dateHelper.getTodayString()"
        [(ngModel)]="ertekelesDatum"
        cancelText="{{ 'common.cancel' | translate }}"
        doneText="{{ 'common.done' | translate }}"
        (ionChange)="onSelectionChange.emit($event)"
    >
    </ion-datetime>
</ion-item>

<ion-item>
    <ion-label position="stacked" translate="eval.field-topic"></ion-label>
    <ion-input
        type="text"
        [(ngModel)]="ertekelesTema"
        (ionChange)="onSelectionChange.emit($event)"
    ></ion-input>
</ion-item>

<ion-item>
    <ion-label position="stacked" translate="eval.field-mode"></ion-label>
    <ion-input
        type="text"
        [value]="ertekelesMod?.Nev"
        (click)="presentErtekelesModPicker()"
        (ionChange)="onSelectionChange.emit($event)"
        readonly
    ></ion-input>
</ion-item>

<ion-item class="tipusSegmentItem">
    <ion-segment (ionChange)="changeErtekelesTipus($event)" [value]="ertekelesTipus">
        <ion-segment-button [value]="ertekelesTipusok.Osztalyzat">
            <ion-label translate="evaluation-types.mark"></ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="ertekelesTipusok.Szoveg">
            <ion-label translate="evaluation-types.textual"></ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="ertekelesTipusok.Szazalek">
            <ion-label translate="evaluation-types.percentage"></ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-item>

<ion-list *ngIf="osztalyTanuloi" class="ion-no-padding ion-no-margin" lines="full">
    <ion-item *ngFor="let t of osztalyTanuloi?.TanuloLista">
        <app-tanulo-ertekeles
            [tanulo]="t"
            (click)="updateAtlag()"
            [tipus]="ertekelesTipus"
            (onSelectionChange)="onSelectionChange.emit($event)"
        ></app-tanulo-ertekeles>
    </ion-item>
</ion-list>

<ion-item *ngIf="ertekelesTipus != ertekelesTipusok.Szoveg">
    <ion-label translate="eval.average-of"></ion-label>
    <ion-note slot="end">{{ atlag ? (atlag | localNumber) : "--" }}</ion-note>
</ion-item>
