<div size="12" class="nev">
    {{ student.Nev }}
    <span class="javasolt-jelenlet-ok" *ngIf="suggestedAttendanceReason">
        <ion-icon slot="start" name="warning"></ion-icon>
        {{ suggestedAttendanceReason }}
    </span>
</div>
<div class="jelenlet-row" *ngIf="!privateStudent">
    <ion-button
        (click)="changed('Jelenlét')"
        expand="block"
        [fill]="attendanceState == 'Jelenlét' ? 'outline' : 'clear'"
    >
        {{ "presence-states.present" | translate }}
    </ion-button>
    <ion-button
        (click)="changed('Késés')"
        expand="block"
        [fill]="attendanceState == 'Késés' ? 'outline' : 'clear'"
    >
        {{ "presence-states.late" | translate }}
        {{ lateness > 0 ? ("logging.lateness-min" | translate: { value: lateness }) : "" }}
    </ion-button>
    <ion-button
        (click)="changed('Hiányzás')"
        expand="block"
        [fill]="attendanceState == 'Hiányzás' ? 'outline' : 'clear'"
    >
        {{ "presence-states.absent" | translate }}
    </ion-button>
</div>
