<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title translate="messages.inbox.title"></ion-title>
    </ion-toolbar>

    <app-offline-warning-bar></app-offline-warning-bar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
