<ng-container *ngIf="eugyLoggedIn == false">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>

            <ion-title translate="messages.title"></ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <app-password-confirm-required
            (onSuccessfulLogin)="onSuccessfulLogin()"
        ></app-password-confirm-required>
    </ion-content>
</ng-container>

<ion-tabs *ngIf="eugyLoggedIn && messagingEnabled">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="inbox">
            <ion-icon name="file-tray-full-outline"></ion-icon>
            <ion-label translate="messages.folder.tab.inbox"></ion-label>
        </ion-tab-button>

        <ion-tab-button tab="outbox">
            <ion-icon name="paper-plane-outline"></ion-icon>
            <ion-label translate="messages.folder.tab.outbox"></ion-label>
        </ion-tab-button>

        <ion-tab-button tab="deleted">
            <ion-icon name="trash-bin-outline"></ion-icon>
            <ion-label translate="messages.folder.tab.deleted"></ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>

<ng-container *ngIf="eugyLoggedIn && !messagingEnabled">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>

            <ion-title translate="messages.title"></ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <app-page-state-display
            iconName="chatbubbles-outline"
            [header]="'messages.not-enabled.header'|translate"
            [message]="'messages.not-enabled.message'|translate"
        ></app-page-state-display>
    </ion-content>
</ng-container>
