/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-list {
    &.list-md,
    &.list-ios {
        background: transparent;
        padding: 0;
        margin: 8px 0;
    }
}

.selectableText {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* ios-en bal oldalt több a padding mint jobb oldalt */
ion-item.ios {
    --padding-start: 10px;
}
ion-list-header.ios {
    margin-left: -10px;
}

ion-header ion-progress-bar {
    position: absolute;
    padding-top: 5px;
}

/* tablet modal magasságok */
@media only screen and (min-height: 600px) and (min-width: 768px) and (orientation: landscape) {
    .sc-ion-modal-md-h {
        --min-height: 95%;
    }
}

@media only screen and (min-height: 600px) and (min-width: 768px) and (orientation: portrait) {
    .sc-ion-modal-md-h,
    .sc-ion-modal-ios-h {
        --min-height: 80%;
    }
}
