<ion-grid>
    <ion-row class="ion-text-center ion-align-items-center">
        <ion-col>
            <ion-icon name="key-outline"></ion-icon>
            <ion-text class="ion-text-center">
                <h1 translate="password-confirm.header"></h1>
                <p translate="password-confirm.message"></p>
            </ion-text>
            <form (ngSubmit)="onSubmit()">
                <ion-item>
                    <ion-label position="floating" translate="login.institution"></ion-label>
                    <ion-input disabled type="text" [value]="kreta.institute.Name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate="login.username"></ion-label>
                    <ion-input
                        disabled
                        type="text"
                        [value]="kreta.currentUser['kreta:user_name']"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate="login.password"></ion-label>
                    <ion-input
                        required
                        type="password"
                        name="password"
                        [(ngModel)]="password"
                    ></ion-input>
                </ion-item>
                <ion-button
                    block
                    color="primary"
                    type="submit"
                    translate="login.login"
                ></ion-button>
            </form>
        </ion-col>
    </ion-row>
</ion-grid>
