<ion-grid>
    <ion-row class="ion-text-center ion-align-items-center">
        <ion-col>
            <ion-icon name="key-outline"></ion-icon>
            <ion-text class="ion-text-center">
                <h1>Megerősítés szükséges</h1>
                <p>A funkció használatához erősítsd meg a jelszavad!</p>
            </ion-text>
            <form (ngSubmit)="onSubmit()">
                <ion-item>
                    <ion-label position="floating">Intézmény</ion-label>
                    <ion-input disabled type="text" [value]="kreta.institute.Name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Felhasználónév</ion-label>
                    <ion-input
                        disabled
                        type="text"
                        [value]="kreta.currentUser['kreta:user_name']"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Jelszó</ion-label>
                    <ion-input
                        required
                        type="password"
                        name="password"
                        [(ngModel)]="password"
                    ></ion-input>
                </ion-item>
                <ion-button block color="primary" type="submit">
                    Bejelentkezés
                </ion-button>
            </form>
        </ion-col>
    </ion-row>
</ion-grid>
