<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'settings.title' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>{{ 'settings.header-appearance' | translate }}</ion-label>
        </ion-list-header>

        <ion-item lines="inset">
            <ion-label>{{ 'settings.color-scheme' | translate }}</ion-label>
            <ion-select
                interface="popover"
                (ionChange)="changeTheme($event)"
                [value]="config.theme"
            >
                <ion-select-option
                    *ngFor="let t of themes"
                    [value]="t.id"
                    [translate]="'themes.'+t.id"
                ></ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item lines="inset">
            <ion-label>{{'settings.language' |translate}}</ion-label>
            <ion-select
                interface="popover"
                (ionChange)="changeLanguage($event)"
                [value]="config.locale"
            >
                <ion-select-option *ngFor="let l of languages" [value]="l.id"
                    >{{l.nativeName}}</ion-select-option
                >
            </ion-select>
        </ion-item>

        <!--  <ion-item>
            <ion-label>Nyelv</ion-label>
            <ion-select interface="popover" placeholder="Automatikus" disabled>
                <ion-select-option value="auto">Automatikus</ion-select-option>
            </ion-select>
        </ion-item> -->
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-label>{{ 'settings.header-behaviour' | translate}}</ion-label>
        </ion-list-header>

        <ion-item lines="inset">
            <ion-label>{{'settings.default-evaluation-type'|translate}}</ion-label>
            <ion-select
                interface="popover"
                (ionChange)="changeErtekelesTipus($event)"
                [value]="config.defaultErtekelesTipus"
            >
                <ion-select-option [value]="ErtekelesTipus.Osztalyzat"
                    >{{'evaluation-types.mark' | translate }}</ion-select-option
                >
                <ion-select-option [value]="ErtekelesTipus.Szazalek"
                    >{{'evaluation-types.percentage' | translate }}</ion-select-option
                >
                <ion-select-option [value]="ErtekelesTipus.Szoveg"
                    >{{'evaluation-types.textual' | translate }}</ion-select-option
                >
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label
                >{{'settings.detailed-errors'|translate}}<br />
                <ion-note>Technikai jellegű információk megjelenítése</ion-note></ion-label
            >
            <ion-toggle
                slot="end"
                [checked]="config.debugging"
                (ionChange)="changeDebugging($event)"
            ></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label
                >{{'settings.usage-statistics'|translate}}<br />
                <ion-note>{{'settings.usage-statistics-desc'|translate}}</ion-note></ion-label
            >
            <ion-toggle
                slot="end"
                [checked]="config.analytics"
                (ionChange)="changeAnalytics($event)"
            ></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label
                >{{'settings.error-reporting'|translate}}<br />
                <ion-note>{{'settings.error-reporting-desc'|translate}}</ion-note></ion-label
            >
            <ion-toggle slot="end" checked disabled></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list-header>
        <ion-label>{{'settings.header-danger-zone'|translate}}</ion-label>
    </ion-list-header>

    <ion-button
        color="danger"
        expand="block"
        fill="outline"
        (click)="logout()"
        class="ion-padding-horizontal"
    >
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>{{'settings.logout' | translate}}</ion-label>
    </ion-button>

    <ion-list>
        <ion-list-header>
            <ion-label>{{'settings.header-about'|translate}}</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>{{'settings.version'|translate}}</ion-label>
            <ion-note slot="end">v{{ appversionnumber }}</ion-note>
        </ion-item>
        <ion-item button type="button" (click)="openLicenses()">
            <ion-label>{{'settings.os-components'|translate}}</ion-label>
        </ion-item>
        <ion-item button type="button" (click)="openPrivacy()">
            <ion-label>{{'settings.privacy-policy'|translate}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
