<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title translate="settings.title"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label translate="settings.header-appearance"></ion-label>
        </ion-list-header>

        <ion-item lines="inset">
            <ion-label translate="settings.color-scheme"></ion-label>
            <ion-select
                interface="popover"
                (ionChange)="changeTheme($event)"
                [value]="config.theme"
            >
                <ion-select-option
                    *ngFor="let t of themes"
                    [value]="t.id"
                    [translate]="'themes.'+t.id"
                ></ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item lines="inset">
            <ion-label translate="settings.language"></ion-label>
            <ion-select
                interface="popover"
                (ionChange)="changeLanguage($event)"
                [value]="config.locale"
            >
                <ion-select-option *ngFor="let l of languages" [value]="l.id"
                    >{{l.nativeName}}</ion-select-option
                >
            </ion-select>
        </ion-item>

        <!--  <ion-item>
            <ion-label>Nyelv</ion-label>
            <ion-select interface="popover" placeholder="Automatikus" disabled>
                <ion-select-option value="auto">Automatikus</ion-select-option>
            </ion-select>
        </ion-item> -->
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-label translate="settings.header-behaviour"></ion-label>
        </ion-list-header>

        <ion-item lines="inset">
            <ion-label translate="settings.default-evaluation-type"></ion-label>
            <ion-select
                interface="popover"
                (ionChange)="changeErtekelesTipus($event)"
                [value]="config.defaultErtekelesTipus"
            >
                <ion-select-option
                    [value]="ErtekelesTipus.Osztalyzat"
                    translate="evaluation-types.mark"
                ></ion-select-option>
                <ion-select-option
                    [value]="ErtekelesTipus.Szazalek"
                    translate="evaluation-types.percentage"
                ></ion-select-option>
                <ion-select-option
                    [value]="ErtekelesTipus.Szoveg"
                    translate="evaluation-types.textual"
                ></ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>
                <span translate="settings.detailed-errors"></span><br />
                <ion-note translate="settings.detailed-errors-desc"></ion-note>
            </ion-label>
            <ion-toggle
                slot="end"
                [checked]="config.debugging"
                (ionChange)="changeDebugging($event)"
            ></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>
                <span translate="settings.usage-statistics"></span><br />
                <ion-note translate="settings.usage-statistics-desc"></ion-note>
            </ion-label>
            <ion-toggle
                slot="end"
                [checked]="config.analytics"
                (ionChange)="changeAnalytics($event)"
            ></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>
                <span translate="settings.error-reporting"></span><br />
                <ion-note translate="settings.error-reporting-desc"></ion-note>
            </ion-label>
            <ion-toggle slot="end" checked disabled></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list-header>
        <ion-label translate="settings.header-danger-zone"></ion-label>
    </ion-list-header>

    <ion-button
        color="danger"
        expand="block"
        fill="outline"
        (click)="logout()"
        class="ion-padding-horizontal"
    >
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label translate="settings.logout"></ion-label>
    </ion-button>

    <ion-list>
        <ion-list-header>
            <ion-label translate="settings.header-about"></ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label translate="settings.version"></ion-label>
            <ion-note slot="end">v{{ appversionnumber }}</ion-note>
        </ion-item>
        <ion-item button type="button" (click)="openLicenses()">
            <ion-label translate="settings.os-components"></ion-label>
        </ion-item>
        <ion-item button type="button" (click)="openPrivacy()">
            <ion-label translate="settings.privacy-policy"></ion-label>
        </ion-item>
    </ion-list>
</ion-content>
